@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    margin: 25px;
    background-color: lightblue;
    font-family: verdana;
    font-size: 20px;
}

h3 {
    margin-top: 20px;
    background-color: lightblue;
    font-size: 30px;
    font-weight: bolder;
}

p {
    margin-top: 10px;
    margin-left: 15px;
    background-color: lightblue;
}
