<!DOCTYPE html>
<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>
    <!-- The below tag is using Bulma CSS. Try replacing line 14 with line 13. -->
    <!-- <div class="has-text-success-dark is-size-4  has-text-weight-medium"> -->
        <nav class="navbar is-light p-3">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item {% if active_page == 'home' %}is-active{% endif %}" href="{{ url_for('home') }}">Home</a>
                    <a class="navbar-item {% if active_page == 'pages' %}is-active{% endif %}" href="{{ url_for('all_pages') }}">Pages</a>
                    <a class="navbar-item {% if active_page == 'about' %}is-active{% endif %}" href="{{ url_for('about') }}">About</a>
                </div>
            </div>
        </nav>
        
        <a href="{{ url_for('home') }}">
            Home
        </a>
        &nbsp;&nbsp;
        <a href="{{ url_for('all_pages') }}">
            Pages
        </a>
        &nbsp;&nbsp;
        <a href="{{ url_for('about') }}">
            About
        </a>
    </div>

    <!-- The below tag is using Bulma CSS. Try replacing line 30 with line 29. -->
    <!-- <div class="content"> -->
        <div class="container is-fluid">
            <div class="columns is-centered">
                <div class="column is-10">
                    {% block content %}{{ page_content }}{% endblock %}
                </div>
            </div>
        </div>
</body>

</html>